_temp_
node_modules/
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/secrets
.env*
*.tfstate
*.tfstate.*
__pycache__/
*.pyc
venv/
.DS_Store
IP.txt
params.json
video.jpg
*.bak